<!DOCTYPE html>
<html lang="en">
<head>
    meta(http-equiv='Cache-Control', content='no-store, no-cache, must-revalidate')
    meta(http-equiv='Pragma', content='no-cache')
    meta(http-equiv='Expires', content='-1')
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grow With Mentor</title>
    style  
        include home.css

</head>
<body>
    <div class="header">
        <nav>
            <div class="container">
                <img src="/static/images/logo1.png" alt="Not Found"id="logo" >
                <div class="items">
                    <ul>
                        <li><a href="/sign_in">Sign In</a></li>
                        <li><a href="/sign_up">Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <section class="sec1">
            <h1 class="h1_primary">Welcome to Grow With Mentor</h1>
            <div id="typing"><p class="para_primary">Think, Infer and Prefer</p></div>
        </section>
    </div>
    

    
    script
        include home.js
</body>
</html>